.slick-dots {
    bottom: -30px;
    
    li button:before {
        color: $theme-secondary;
    }

    li.slick-active button:before {
        color: $theme-primary;
    }

}

.slick-prev:before, .slick-next:before {
    color: $theme-primary;
}
