.ui.grid._navbar {
    padding-top: 1rem;
    position: fixed;
    top: 0;
    transition: background 0.5s linear;
    width: 100%;
    z-index: 99;

    @include media-breakpoint-up(md){
        margin-left: 0;
        margin-right: 0;
    }

    &._pinned {
        background: $background-secondary;
    }

    h2.ui.__navbar-header {

        @include media-breakpoint-down(sm){
            font-size: 18px;
        }

    }

    .__menu-container {
        @include media-breakpoint-down(sm){
            text-align: right;
        }
    }

    .__menu-toggle {

        &:hover {
            color: $theme-primary;
        }

        @include media-breakpoint-up(md){
            display: none;
        }
    }

    // Desktop Menu
    .ui.menu {

        .item {
            background: $gradient-primary;
            color: $white;

            &:before {
                background: rgba(255,255,255,0.5);
            }

            &:hover {
                background: $white;
                color: $theme-primary;
            }

            &.--has-button:hover {
                background: $gradient-primary;
            }
    
            .ui.button {
                background: $gray-darkest;
                color: $theme-primary;

                &:hover {
                    background: $white;
                }
            }
    
        }
        
    }

    // Mobile Menu
    @include media-breakpoint-down(sm){

        .__menu-toggle.active {
            color: $theme-primary;
        }

        .ui.menu {
            position: absolute;
            right: -100vw;
            top: 47px;
            transition: all 1s linear;
            width: 40vw;

            &.active {
                right: 0;
            }

            & > .item {
                justify-content: center;
            }

        }
    }

}