.ui.modal.__portfolio-modal {

    & >.close {
        color: $white;
        opacity: 1;
            top: -3rem!important;
            right: 0!important;
            margin: 0;

        &:hover {
            color: $theme-primary;
        }
    }

    & > .header {
        padding-right: 1rem!important;

        .ui.button {
            margin-right: 0;
        }
    }

    & > .content {
        padding-top: 40px;
        padding-bottom: 40px;

        .grid .row .column {
            padding-left: 25px;
            padding-right: 25px;
        }

        .description {
            @include media-breakpoint-down(sm){
                margin-top: 2rem;
            }
        }
        
    }
    
}