.ui.grid.__home-intro {
    margin-top: -98px;
    margin-bottom: 4rem;
    padding-left: 5%;
    padding-right: 5%;

    @include media-breakpoint-up(sm){
        margin-top: -148px;
        padding-left: 15%;
        padding-right: 15%;
    }

    .ui.button:first-of-type {
        margin-right: 10px;

        @include media-breakpoint-down(sm){
            margin-bottom: 10px;
            min-width: 190px;
        }

    }

}

.ui.button.--home-portfolio-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}