.ui.card.--darktheme {
    background: $gray-darkest;
    box-shadow: 0 1px 3px 0 $theme-primary, 0 0 0 1px $theme-primary;
    height: 100%;

    .description > *,
    .meta > * {
        color: $white;
    }

    .extra {
        border-color: $theme-primary!important;
    }

}

.__card-logo-container {
    background: $white;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 250px;
    padding: 15%;

    img {
        align-self: center;
    }

}