.ui.grid.__skills-platform-container {
    margin-left: -2rem;
    margin-right: -2rem;

    .row {
        background: $background-secondary;
    }

    .__skills-platform-grid {
        height: calc(100% + 2rem);
        
        & > .row {
            border: 1px solid $theme-primary;
            border-radius: 5px;
            margin-top: 1rem;
            margin-bottom: 1rem;

            @include media-breakpoint-up(md){
                margin: 1rem;
            }
            
        }

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        .ui.header {
            color: $theme-primary;
        }

        .column:nth-child(2){

            .ui.icon {
                margin-bottom: 0.5rem;
                margin-right: 0.5rem;
            }

        }
    }

}

.ui.grid.__skills-grid {
    border: 1px solid $theme-primary;
    border-radius: 5px;

    .column {
        padding: 2rem 1rem;
        width: 33.333%;

        @include media-breakpoint-up(md){
            padding: 4rem 2rem;
            width: 20%;
        }

        &:nth-of-type(even) {
            background: $background-secondary;
        }

    }

}