.__footer {
    background: $background-secondary;
    border-top: 1px solid $theme-primary;
    color: $theme-primary;
    margin-top: 4rem;
    padding: 1rem 0;

    @include media-breakpoint-down(sm){
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .grid .row .column {
        @include media-breakpoint-down(sm){
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    i.circular.icon {
        box-shadow: 0 0 0 0.1em $theme-primary inset;
    }

    .link.item:hover i.circular.icon {
        box-shadow: 0 0 0 0.1em $theme-secondary inset;
    }
}