.ui.primary.button, .ui.primary.buttons .button {
    background: $gradient-primary;

    &:hover {
        background: $theme-secondary;
    }
}

.ui.button {

    &.--linkedin-button {
        background: $gradient-linkedin;
        color: $white;
    }

    &.--instagram-button {
        background: $gradient-instagram;
        color: $white;
    }

}