// Header Override
.ui.header {
    color: $white;

    &.--theme-primary {
        color: $theme-primary;
    }

    &.--xl-header {
        
        @include media-breakpoint-up(sm) {
            font-size: $header-size-xl;
        }
    }
    
}

.--xs-text {
    font-size: $font-size-xs;
}

.--sm-text {
    font-size: $font-size-sm;
}

.--lg-text {
    font-size: $font-size-lg;
}

.--xl-text {
    font-size: $font-size-xl;
}

a {
    color: $theme-primary;

    &:hover {
        color: $theme-secondary;
    }
}

.ui.button.labeled.dropdown.icon {
    background: none;
    border: 1px solid $theme-primary;
    color: $theme-primary;

    & > .icon {
        border-right: 1px solid $theme-primary;
    }

    &:hover {
        background: $background-secondary;
    }

    .menu {
        background: $background-secondary;
        color: $theme-primary;

        & > .divider {
            border-color: $theme-primary;
        }

        & > .header, & > .item {
            color: $theme-primary;
        }
    }

}

.ui.divider:not(.vertical):not(.horizontal) {
    border-color: $theme-primary;
}