.--vertical-center {
    position: absolute;
    top: calc(100vh - 50%);
}

.--full-height {
    height: 100vh;
}

.--theme-primary {
    color: $theme-primary;
}

.--spotify-green {
    color: $spotify-green;
}