$black: #000;
$white: #fff;

$gray-darkest: #111;
$gray-dark: #030202;
$gray-light: #444;

$theme-primary: #DB0A22;
$theme-secondary: #AF0015;

// Brand Colours
$linkedin: #0E76A8;
$linkedin-dark: #0b5e86;

$spotify-green: #1DB954;

$background-primary: $gray-darkest;
$background-secondary: $gray-dark;

$gradient-primary: linear-gradient($theme-primary, $theme-secondary);
$gradient-linkedin: linear-gradient($linkedin, $linkedin-dark);
$gradient-instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);

$font-size-base: 1em;
$font-size-xs: $font-size-base * 0.75;  // 12px
$font-size-sm: $font-size-base * 0.875; // 14px
$font-size-lg: $font-size-base * 1.125; // 18px
$font-size-xl: $font-size-base * 1.25;  // 20px

$header-size-xl: $font-size-base * 3.75; // 60px


$headerHeight: 105px;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;