.__about-me-column {

    &:before {
        @include media-breakpoint-down(sm){
            background: $theme-primary;
            content: '';
            display: block;
            height: 2px;
            margin-bottom: 2rem;
            width: 100%;
        }
    }

}